{% extends 'base_editorial.html' %}
{% load i18n %}

{% load static %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="login-page text-center animated fadeIn delay-1000">
          <h6 class="cover-heading center">Item PreCreate Form</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-xs-12 col-lg-4"></div>
  <div class="col-xs-12 col-lg-4">
    <form method="POST">
    {% csrf_token %}


    <!-- Item Name -->
    <fieldset class="form-group m-b-10">
      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.name.label_tag }}</label>
      {{ form.name }}
      {% if form.name.errors %}
        <small class="text-muted">{{ form.name.errors }}</small>
      {% endif %}
    </fieldset>

    <!-- Item Headline -->
    <fieldset class="form-group m-b-10">
      <label class="f-s-12 f-s-400 spread-01 subtle slim-margin">{{ form.template.label_tag }}</label>
      {{ form.template }}
      {% if form.template.errors %}
        <small class="text-muted">{{ form.template.errors }}</small>
      {% endif %}
    </fieldset>

    


    <button type="submit" class="btn btn-info content-bottom-10 btn btn-block no-border" name="form">Save</button>
    </form>

    <a href="{% url 'editorial:item_template_create' %}" title="Create a new template"><p>Create a new template</p></a>

  </div>
  <div class="col-xs-12 col-lg-4"></div>
</div>

<script>
  $(".chosen-select").chosen()
</script>

{% endblock %}
