{% extends "account/editorial_base.html" %}

{% load i18n %}



{% block content %}
<h1>404 Error</h1>

<div>
  <p class="text-center">This page seems to be missing.</p>
  <p class="text-center">We'll check the shelves, maybe it got put in the wrong place. Try going back to the homepage and retracing your steps.</p>
  <p class="text-center">If you run into any more troubles, please contact us and we'll help you out.</p>
</div>
<div class="mt-1">
  <p class="blue-grey-text font-weight-light"><em>*404: Page Not Found</em></p>
</div>


{% endblock %}
