{% extends "account/editorial_base.html" %}

{% load i18n %}



{% block content %}
<h1>502 Error</h1>

<div>
  <p class="text-center">You caught us with out card catalog drawers open.</p>
  <p class="text-center">We're doing a little site maintenance and we'll have everything back on the shelf shortly.</p>
  <p class="text-center">If you run into any more troubles, please contact us and we'll help you out.</p>
</div>
<div class="mt-1">
  <p class="blue-grey-text font-weight-light"><em>*502: Maintenance</em></p>
</div>

{% endblock %}
