itemsItems{% extends 'base_editorial.html' %}
{% load i18n %}

{% load static %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}

<!-- Sidebar navigation -->
<div id="slide-out" class="side-nav fixed wide mdb-color darken-3">
  <ul class="custom-scrollbar">
    <li>
      <div class="logo-wrapper sn-ad-avatar-wrapper">
        <a href="#" class="px-3"><span style="padding-left: -10px;">{{ story.name }}</span></a>
      </div>
    </li>
    <!-- Side navigation links -->
    <li>
      <ul class="collapsible collapsible-accordion">
        <li><a class="collapsible-header waves-effect arrow-r"><i class="sv-slim-icon fas fa-info-circle"></i> Overview<i class="fas fa-angle-down rotate-icon"></i></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#" class="waves-effect">
                <span class="sv-slim"> <i class="fas fa-users-cog"></i> </span>
                <span class="sv-normal">Team</span></a>
              </li>
            </ul>
          </div>
        </li>
        <li><a class="collapsible-header waves-effect arrow-r"><i class="sv-slim-icon fas fa-comments"></i> Discussions<i class="fas fa-angle-down rotate-icon"></i></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#" class="waves-effect">
                <span class="sv-slim"> M </span>
                <span class="sv-normal">Main</span></a>
              </li>
              <li><a href="#" class="waves-effect">
                <span class="sv-slim"> T </span>
                <span class="sv-normal">Tasks</span></a>
              </li>
            </ul>
          </div>
        </li>
        <li><a class="collapsible-header waves-effect arrow-r"><i class="sv-slim-icon fas fa-calendar-alt"></i> Timeline<i class="fas fa-angle-down rotate-icon"></i></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#" class="waves-effect">
                <span class="sv-slim"> I </span>
                <span class="sv-normal">Internal Events</span></a>
              </li>
              <li><a href="#" class="waves-effect">
                <span class="sv-slim"> H </span>
                <span class="sv-normal">Hosted Events</span></a>
              </li>
              <li><a href="#" class="waves-effect">
                <span class="sv-slim"> R </span>
                <span class="sv-normal">Reporting Events</span></a>
              </li>
              <li><a href="#" class="waves-effect">
                <span class="sv-slim"> O </span>
                <span class="sv-normal">Other Events</span></a>
              </li>
            </ul>
          </div>
        </li>
        {% comment %}
        <li><a class="collapsible-header waves-effect arrow-r"><i class="sv-slim-icon fas fa-th-list"></i> Story Budget<i class="fas fa-angle-down rotate-icon"></i></a></li>
        {% endcomment %}
        {% if view.stories %}
        <li><a class="collapsible-header waves-effect arrow-r"><i class="sv-slim-icon fas fa-file-alt"></i> Items<i class="fas fa-angle-down rotate-icon"></i></a></li>
        {% else %}
        <li><a class="collapsible-header waves-effect arrow-r"><i class="sv-slim-icon fas fa-plus blue-grey-text"></i> Items</a></li>
        {% endif %}
        <li><a class="collapsible-header waves-effect arrow-r"><i class="sv-slim-icon far fa-image"></i> Story Media<i class="fas fa-angle-down rotate-icon"></i></a>
          <div class="collapsible-body">
            <ul>
              <li><a href="#" class="waves-effect">
                <span class="sv-slim"> I </span>
                <span class="sv-normal">Images</span></a>
              </li>
              <li><a href="#" class="waves-effect">
                <span class="sv-slim"> D </span>
                <span class="sv-normal">Documents</span></a>
              </li>
              <li><a href="#" class="waves-effect">
                <span class="sv-slim"> A </span>
                <span class="sv-normal">Audio</span></a>
              </li>
              <li><a href="#" class="waves-effect">
                <span class="sv-slim"> V </span>
                <span class="sv-normal">Video</span></a>
              </li>
            </ul>
          </div>
        </li>

        {% if view.tasks %}
        <li><a class="collapsible-header waves-effect arrow-r"><i class="sv-slim-icon fas fa-tasks"></i> Tasks<i class="fas fa-angle-down rotate-icon"></i></a></li>
        {% else %}
        <li><a class="collapsible-header waves-effect arrow-r blue-grey-text"><i class="sv-slim-icon fas fa-plus blue-grey-text"></i> Tasks</a></li>
        {% endif %}

        {% if view.notes %}
        <li><a class="collapsible-header waves-effect arrow-r"><i class="sv-slim-icon fas fa-sticky-note"></i> Notes<i class="fas fa-angle-down rotate-icon"></i></a></li>
        {% else %}
        <li><a class="collapsible-header waves-effect arrow-r blue-grey-text"><i class="sv-slim-icon fas fa-plus blue-grey-text"></i> Notes</a></li>
        {% endif %}
        <li><a class="collapsible-header waves-effect arrow-r"><i class="sv-slim-icon far fa-images"></i> Story Assets<i class="fas fa-angle-down rotate-icon"></i></a></li>
        <li><a id="toggle" class="waves-effect"><i class="sv-slim-icon fas fa-angle-double-left"></i>Minimize</a>
        </li>
      </ul>
    </li>
    <!--/. Side navigation links -->
  </ul>
  <div class="sidenav-bg"></div>
</div>
<!--/. Sidebar navigation -->

<!-- Sidebar Trigger -->
<div class="container-fluid" style="margin-left: 80px;">
  <div class="float-left" id="sidenav-button">
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i></a>
  </div>
</div>

<div class="container-fluid">
  {% block story_detail %}
  {% endblock %}
</div>

{% endblock %}
