{% extends 'project/base_project.html' %}
{% load i18n %}

{% load static %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block project_detail %}

  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-6">
          <h5>Details</h5>

        </div>
        <div class="col-6">
          <h5>Discussion</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <h5>Story Budget</h5>

        </div>
        <div class="col-6">
          <h5>Calendar</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <h5>Stories</h5>

        </div>
        <div class="col-6">
          <h5>Story Media</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <h5>Notes</h5>
        </div>
        <div class="col-6">
          <h5>Project Assets</h5>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
