{% extends 'base_editorial.html' %}
{% load i18n %}

{% load static %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="login-page text-center animated fadeIn delay-1000">
          <h6 class="cover-heading center">Project Asset Library</h6>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
