{% extends 'base_editorial.html' %}
{% load i18n %}

{% load static %}

<!-------------------------------------------->
<!--            Main Section                -->
<!-------------------------------------------->

{% block content %}

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="login-page text-center animated fadeIn delay-1000">
          <h3 class="cover-heading center">Delete: {{ project }}</h3>

          <form method="POST" class="post-form">
            {% csrf_token %}
            <input type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
